#empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

.main-text-empty {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

.sub-text-empty {
  display: flex;
  justify-content: center;
  color: #7a8c99;
  font-size: 22px;
}
