div.container-page { height: 100%;
  div.container {
    .top {
      margin-top: 3px !important;
      margin-bottom: 3px !important;
    }
    .v-text-field fieldset, .v-text-field .v-input__control {
      background-color: #fff;
    }
    .v-text-field--rounded {
      border-radius: 5px !important;
    }
    .v-btn--rounded {
      border-radius: 5px;
    }
  }
}
