<div class="container home">
  <div class="row mt-2">
    <div class="col-12">
      <div class="m-2">
        <a class="navbar-item">
          <img src="assets/logo.svg" />
        </a>
      </div>
    </div>
    <div class="col-12">
      <div class="m-2">
        <form>
          <div class="form-group">
            <input
              type="email"
              class="form-control home__search-icon"
              placeholder="Search movies..."
            />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row mt-5 empty-state">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div>
        <img class="img-fluid" src="assets/illustration-empty-state.png" />
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <span class="empty-state__title mt-3">
            Don't know what to search?
          </span>
          <span class="empty-state__subTitle mt-3">
            Here's an offer you can't refuse
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
