<div class="row">
    <div class="col-12 search">
        <div class="mb-5">
            <form>
                <div class="form-group">
                    <input
                        id="search"
                        type="text"
                        name="search"
                        autocomplete="off"
                        class="search__icon form-control"
                        [formControl]="search"
                        placeholder="Search movies ...">
                </div>
            </form>
        </div>
    </div><!-- END SEARCH-->
</div>
