<div class="container home-container">
  <app-nav-bar></app-nav-bar>

  <app-search-bar
    [searchField]="form.get('searchField')"
    (searchEvent)="search()"
  ></app-search-bar>

  <app-loading *ngIf="loading"></app-loading>

  <app-not-found
    *ngIf="movies?.length == 0 && !loading && alreadyRequest"
  ></app-not-found>

  <app-empty-state *ngIf="!alreadyRequest && !loading"></app-empty-state>

  <app-movies-list
    [movies]="movies"
    *ngIf="movies?.length > 0"
  ></app-movies-list>
</div>
