$bg-color: #0a1015;

.home-container {
  margin-top: 30px;
}
#home-container-nav {
  background-color: $bg-color;
  margin-bottom: 20px;
}

#button-search-bar {
  background-color: #fff;
  border: none;
  box-shadow: none;
}

.content-list-movies {
  margin-top: 40px;
}
.item-list-movie {
  display: flex;
  width: 225px;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  height: 295px;
  margin-bottom: 20px;
  padding: 13px;

  img {
    max-width: 200px;
    border-radius: 5px;
    max-height: 280px;
  }
}

#empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

.main-text-empty {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

.sub-text-empty {
  display: flex;
  justify-content: center;
  color: #7a8c99;
  font-size: 22px;
}
