form {
  width: 100%;
}

input {
  width: 96%;
  height: 40px;
  border-radius: 5px;
  padding: 0 30px;
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: none;
}

input:focus {
  outline: none;
}

label {
  position: relative;
}

label > div {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

label > img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.content-img {
  display: flex;
  flex-wrap: wrap;
}

.content-img img {
  display: inline-block;
  border-radius: 2px;
  margin: 10px 40px 0 0;
  width: 170px;
  height: 250px;
}

.content-img img:hover {
  background-color: #151925;
  opacity: 0.4;
  cursor: pointer;
}

p {
  display: flex;
  flex-wrap: wrap;
  width: 81%;
  margin-top: 10px;
  color: #ffffff;
}
