div.items {
  div.loading { height: 100%; }

  div.item-list { border-radius: 8px; padding: 5px; overflow-y: auto; max-height: 600px;
    div.list-item {
      padding: 5px;
      color: #616161;
      max-height: 100%;
      float: left;
      .item-image {
        height: 285px;
        width: 217px;
        border-radius: 5px;
      }
    }

    div.list-item:last-child { border-bottom: none !important; }
  }
  div.search-movie {
    h3 { color: #fff; font-weight: 400; font-size: 25px; }
    p { color: #8b93a6; font-size: 18px; }
    img {
      @media all and (max-width: 400px) { width: 200px; }
    }
  }
  .v-pagination__more { color: #fff; }
}
