<div class="row mt-5 empty-state">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <div>
      <img class="img-fluid" src="assets/illustration-empty-state.png" />
      <div class="d-flex flex-column align-items-center justify-content-center">
        <span class="empty-state__title mt-3">
          Don't know what to search?
        </span>
        <span class="empty-state__subTitle mt-3">
          Here's an offer you can't refuse
        </span>
      </div>
    </div>
  </div>
</div>
