html, body { height: 100%; }
body { background-color: #000; }

* { font-family: 'Titillium Web', sans-serif; }

html {
  overflow-y: auto !important;

  ::-webkit-scrollbar {
    width: 8px !important;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary;
  }

  ::-webkit-scrollbar-track {
    background: lighten($primary, 50%);
  }
}
