.app-movie-list {

    .searchbar-nav {
        margin-top: 2vh;
    }

    h4 {
        color: white;
    }

    p {
        color: #7A8C99;
    }

    .list-row, .card-column {
        margin-top: 2vh;
    }

}
