/* You can add global styles to this file, and also import other style files */
body{
    background-color: #0A1014;
    overflow-y:scroll;
}

.loading-app {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20vh;
}

.empty-state {
    margin-top:20vh;
}