<div class="notfound">
    <div class="mt-5 mb-5">
        <div class="text-center">
            <div class="col-12 col-xl-6 offset-xl-3 col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <img src="../../../../assets/images/png/illustration-empty-state@2x.png" alt="" class="img-fluid mx-auto">

                <div class="col-8 offset-2 col-xl-6 offset-xl-3">
                    <h3 class="color-white">
                        Don't know what to search?
                    </h3>
                    <p class="color-grey">Here's an offer you can't refuse</p>
                </div>
            </div>
        </div>
    </div>
</div><!--END NOTFOUND-->